<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/angular.min.js"></script>
    <script src="js/sortRowByTableHeader.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="myController">
    <h1>Employee Details:-</h1>
    
    <br>
    <table>
        <thead>
            <tr>
                <th ng-click="sortData('fname')">First Name
                    <div ng-class="getSortClass('fname')"></div>
                </th>
                <th ng-click="sortData('lname')">Last Name
                    <div ng-class="getSortClass('lname')"></div>
                </th>
                <th ng-click="sortData('email')">Email ID
                    <div ng-class="getSortClass('email')"></div>
                </th>
                <th ng-click="sortData('gender')">Gender
                    <div ng-class="getSortClass('gender')"></div>
                </th>
                <th ng-click="sortData('mobile_no')">Mobile No.
                    <div ng-class="getSortClass('mobile_no')"></div>
                </th>
                <th ng-click="sortData('dateOfBirth')">Date of Birth
                    <div ng-class="getSortClass('dateOfBirth')"></div>
                </th>
                <th ng-click="sortData('salary')">Salary (number)
                    <div ng-class="getSortClass('salary')"></div>
                </th>
                <th ng-click="sortData('salary')">Salary (currency)
                    <div ng-class="getSortClass('salary')"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employee | orderBy:sortColumn:reverseSort" >
                <td> {{ emp.fname  }} </td>
                <td> {{ emp.lname | uppercase}} </td>
                <td> {{ emp.email }} </td>
                <td> {{ emp.gender | lowercase }} </td>
                <td> {{ emp.mobile_no }} </td>
                <td> {{ emp.dateOfBirth | date:dd/MM/yyyy }} </td>
                <td> {{ emp.salary | number:2 }} </td>
                <td> {{ emp.salary | currency:"&pound;":1}} </td>
            </tr>
        </tbody>
    </table>    
</body>
</html>